*{
  box-sizing: border-box;
}
h1{
  text-align: center;
  color: #ffffff;
}
.button{
  height: 30px;
  width: 70px;
  position: fixed;
  left: 48%;
  top: 20%;
}
.home{
  margin: 0;
  height: 30px;
  width: 70px;
  border-radius: 8px;
  background: #000;
  color: #ffffff;
  border: 2px solid #ffa500;
}
h3{
  text-align: center;
  color: #ffffff;
}
h4{
  text-align: center;
  color: #ffffff;
}
body {
  background: #333;
}
.gridbox {
  height: 500px;
  width: 500px;
  position: fixed;
  left: 37%;
  top: 30%;
}
.g1{
  height: 100px;
  width: 100px;
  background: #000;
  border: 2px solid #ffffff;
  border-radius: 8px;
}




