*{
  box-sizing: border-box;
}
body {
  background: black;
}
h1{
  text-align: center;
  color: #00ffff;
}
.button{
  height: 30px;
  width: 70px;
  position: absolute;
  left: 48%;
  top: 20%;
  color: #00ffff;
  background-color: black;
  border: 2px solid #00ffff;
}
.home{
  margin: 0;
  height: 30px;
  width: 70px;
  position: absolute;
  top: 10px;
  left: 2px;
  border-radius: 8px;
  background: #000;
  color: #ffffff;
  border: 2px solid #ffa500;
}
h3{
  text-align: center;
  color: #00ffff;
}
h4{
  text-align: center;
  color: #00ffff;
}
.gridbox {
  height: 520px;
  width: 520px;
  position: absolute;
  left: 35%;
  top: 30%;
}
.g1{
  height: 75px;
  width: 75px;
  background: #000;
  border: 2px solid #00ffff;
  border-radius: 8px;
}
@media only screen and (max-width: 768px) {
  .home{
    top: 80px;
  }
  .button{
    left: 40%;
  }
  .gridbox{
    width: 350px;
    left: 6%;
  }
  .g1{
    height: 50px;
    width: 50px;
  }
  [class*="col-"] {
    width: 100%;
  }
}