*{
    box-sizing: border-box;
}
body {
  background: black;
}
h1{
  text-align: center;
  background-image: linear-gradient(
    -225deg,
    #0000ff 0%,
    #00ff00 29%,
    #ff0000 67%,
    #ffff00 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2.5s linear infinite;
  font-size: 70px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.b1{
  height: 100px;
  width: 200px;
  border-radius: 8px;
  position: relative;
  margin-top: 10px;
  left: 45%;
  background: #000;
  color: #ffffff;
  border: 2px solid #0000ff;
}
.b2{
  height: 100px;
  width: 200px;
  border-radius: 8px;
  position: relative;
  margin-top: 10px;
  left: 45%;
  background: #000;
  color: #ffffff;
  border: 2px solid #00ff00;
}
.b3{
  height: 100px;
  width: 200px;
  border-radius: 8px;
  position: relative;
  margin-top: 10px;
  left: 45%;
  background: #000;
  color: #ffffff;
  border: 2px solid #ff0000;
}
.b4{
  height: 100px;
  width: 200px;
  border-radius: 8px;
  position: relative;
  margin-top: 10px;
  left: 45%;
  background: #000;
  color: #ffffff;
  border: 2px solid #00ffff;
}
.b5{
  height: 100px;
  width: 200px;
  border-radius: 8px;
  position: relative;
  margin-top: 10px;
  left: 45%;
  background: #000;
  color: #ffffff;
  border: 2px solid #ffff00;
}
