body {
    background: black;
}
h1{
    text-align: center;
    color: #0000ff;
}
.home{
    margin: 0;
    height: 30px;
    width: 70px;
    border-radius: 8px;
    background: #000;
    color: #ffffff;
    border: 2px solid #ffa500;
}
h3{
    color: red;
}
li{
    color: rgb(2, 255, 2);
}